<div class="main-container">
  <mat-card>
    <mat-card-content>
      <button>
        <a routerLink="/goal" class="title">add Goal</a>
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card>
      <mat-card-content>
        <div *ngFor="let goal of goals" [ngClass] = "goal.done?'home-done':'home-not-done'">
          <p class="set-goal-title">Goal: {{goal.description}}
            <button
          (click)="onComplete(goal)"
          type="submit">Erledigt</button>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
</div>

