<!--<div class="app-container">
    <div class="primary-screen">
        <router-outlet  name='primary'></router-outlet>

    </div>
    <div class="secondary-screen">
        <router-outlet  name='secondary'></router-outlet>
    </div>
</div>-->
<router-outlet></router-outlet>
<!--<app-two-pane-view>
    <h2>First</h2>
    <p>Second</p>
    <p>I will never be seen</p>
</app-two-pane-view>-->
<!--<h2 *appTwoPaneView="secondaryBlock">Primary pane</h2>
<ng-template #secondaryBlock>
    Secondary pane.
</ng-template>-->