.secondary-screen{
    width: 50vw;
    max-width: 50vw;
    overflow: hidden;
}

.primary-screen{
    width: 50vw;
    max-width: 50vw;
    overflow: hidden;
}

.app-container{
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width:1000px) {
    .secondary-screen{
        display: none;
    }

    .primary-screen{
        width: 100vw;
        max-width: 100vw;
    }

}