/* You can add global styles to this file, and also import other style files */

/*
*Define css variables that must be used across the application for attributes that should only be changed in one place (here).
*A css variable can be used in any css style sheet in the following way: var(--color-primary)
*will be replaced by the browser with #ffffff in light and #1B1A19 in dark mode.
*/

:root {
/*color-highlight is the brand color. It can be used to emphasize certain elements.*/
--color-highlight: #84DD90/*#56C6A9*/;
/*color-primary is used on elements in the foreground the language learner can interact with. For example the background color of a card.*/
--color-primary: #ffffff;
/*color-secondary is used for elements in the background. For example the color behind the cards.*/
--color-secondary: #F3F2F1;
/*color-tertiary and color-quaternary can be used as a muted accent on top of color-primary and color-secondary.*/
--color-tertiary: #D2D0CE;
--color-quaternary: #A19F9D;
--color-border: #C8C6C4;
/*color-acrylic is for background blur and transparency.*/
--color-acrylic: rgba(255,255,255,0.3);
--color-primary-transparent: rgba(255, 255, 255, 0.9);
--color-secondary-transparent: rgba(243, 242, 241, 0.8);
/*color-text-primary is the color used for most of the textual information to display to the language learner.*/
--color-text-primary: #000000;
/*color-text-secondary is used on the text elements that are not as important as other text and thus should not be the focus.*/
--color-text-secondary: #3B3A39;
--font-family: 'Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI Webfont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif';
}

@media (prefers-color-scheme: dark) {
/*Define css variables in dark mode.*/
    :root {
    --color-highlight: #84DD90/*#008890*/;
    --color-primary: #1B1A19;
    --color-secondary: #252423;
    --color-tertiary: #3B3A39;
    --color-quaternary: #797775;
    --color-border: #484644;
    --color-acrylic: rgba(26,26,26,.3);
    --color-primary-transparent: rgba(27, 26, 25, 0.7);
    --color-secondary-transparent: rgba(37, 36, 35, 0.8);
    --color-text-primary: #f3f2f1;
    --color-text-secondary: #C8C6C4;
    --font-family: 'Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI Webfont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif';
}
}

/*
*Add this class if the background should be visible but blured.
*/
.blur {
    background-color: var(--color-acrylic);
}

@supports (backdrop-filter: blur(20px) saturate(125%)) or (-webkit-backdrop-filter: blur(20px) saturate(125%)) {
    .blur {
        -webkit-backdrop-filter: blur(20px) saturate(125%);
        backdrop-filter: blur(20px) saturate(125%);
        background-color: var(--color-acrylic);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

/* Turn on custom 8px wide scrollbar */

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
    border-radius: 100px;
}


/* hover effect for both scrollbar area, and scrollbar 'thumb' */

 ::-webkit-scrollbar:hover {
    /*background-color: rgba(0, 0, 0, 0.09);*/
    background-color: var(--color-border);
}


/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */

 ::-webkit-scrollbar-thumb {
    background: var(--color-text-secondary);
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

 ::-webkit-scrollbar-thumb:active {
    /* Some darker color when you click it */
    background: var(--color-text-primary);
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

 ::-webkit-scrollbar-corner {
    display: none;
}
body {
    margin: 0;
    background-color: var(--color-secondary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

h1 {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    font-size: 2.625em;
    line-height: 3.25em;
    margin: 0;
  align-self: center;
}

h2 {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    font-size: 2em;
    line-height: 2.5em;
    margin: 0;
}

h3 {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    font-size: 1.75em;
    line-height: 2.25em;
    margin: 0;
}

h4 {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    font-size: 1.5em;
    line-height: 2em;
    margin: 0;
}

h5 {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    font-size: 1.25em;
    line-height: 1.75em;
    margin: 0;
}

h6 {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    font-size: 1.125em;
    line-height: 1.5em;
    margin: 0;
}

p {
    color: var(--color-text-primary);
    font-size: 1em;
    line-height: 1.375em;
    font-family: var(--font-family);
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

pre {
    color: var(--color-text-primary);
    display: inline;
    font-family: var(--font-family);
    font-size: 1em;
    line-height: 1.375em;
    white-space: pre-line;
    margin: 0;
}

a {
    color: var(--color-highlight);
    font-size: 1em;
    line-height: 1.375em;
    font-family: var(--font-family);
}

i {
    color: var(--color-text-primary);
    font-size: 1em;
    line-height: 1.375em;
    font-family: var(--font-family);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


button {
    -webkit-appearance: none;
    -webkit-writing-mode: horizontal-tb !important;
    writing-mode: horizontal-tb;
    color: var(--color-text-primary);
    letter-spacing: normal;
    word-spacing: 0;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: block;
    text-align: center;
    align-items: normal;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0;
    font: normal 1.3em var(--font-family);
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
    border-image: none;
    border-radius: 5px;
    border: none;
    outline: none;
}

button:active {
    border-style: solid;
    outline: none;
    border: inherit;
}

button:focus {
    outline: none;

    border-style: solid;

    border-color: var(--color-text-primary);
    border-width: 1px;
    border:none;
}


/* everywhere else */

* {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Input styles*/
.input-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 32px;
    margin-right: 32px;
  }

  .input-container {
    margin-bottom: 16px;
    margin-top: 16px;
    min-width: 20vw;
  }



  .input-box {
    border: none;
    border-width: medium;
    border-style: none;
    overflow: visible;
    -webkit-tap-highlight-color: none;
    will-change: transform, color, opacity;
    border-radius: 4px 4px 0px 0px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    min-height: 56px;
    content: none;
    background-color: transparent;
    margin-bottom: 8px;
    margin-left: 0;
    padding: 0;
    width: 100%;
  }



/*loading animation*/

.ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 11px;
  margin: 0;
  padding: 0;
}

  .ellipsis div {
    position: absolute;
    top: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--color-text-primary);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .loading-block{
    width: 100vw;
    padding-left: calc(50vw - 5.5px);
    margin-right: 0;
    margin-top: 64px;
  }

    .ellipsis div:nth-child(1) {
      left: 6px;
      animation: ellipsis1 0.6s infinite;
    }

    .ellipsis div:nth-child(2) {
      left: 6px;
      animation: ellipsis2 0.6s infinite;
    }

    .ellipsis div:nth-child(3) {
      left: 26px;
      animation: ellipsis2 0.6s infinite;
    }

    .ellipsis div:nth-child(4) {
      left: 45px;
      animation: ellipsis3 0.6s infinite;
    }

@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}
