/* You can add global styles to this file, and also import other style files */

/*
*Define css variables that must be used across the application for attributes that should only be changed in one place (here).
*A css variable can be used in any css style sheet in the following way: var(--color-primary)
*will be replaced by the browser with #ffffff in light and #1B1A19 in dark mode.
*/

:root {
/*color-highlight is the brand color. It can be used to emphasize certain elements.*/
--color-highlight: #56C6A9;
/*color-primary is used on elements in the foreground the language learner can interact with. For example the background color of a card.*/
--color-primary: #ffffff;
/*color-secondary is used for elements in the background. For example the color behind the cards.*/
--color-secondary: #F3F2F1;
/*color-tertiary and color-quaternary can be used as a muted accent on top of color-primary and color-secondary.*/
--color-tertiary: #D2D0CE;
--color-quaternary: #A19F9D;
--color-border: #C8C6C4;
/*color-acrylic is for background blur and transparency.*/
--color-acrylic: rgba(255,255,255,0.3);
--color-primary-transparent: rgba(255, 255, 255, 0.9);
--color-secondary-transparent: rgba(243, 242, 241, 0.8);
/*color-text-primary is the color used for most of the textual information to display to the language learner.*/
--color-text-primary: #000000;
/*color-text-secondary is used on the text elements that are not as important as other text and thus should not be the focus.*/
--color-text-secondary: #3B3A39;
--font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI Webfont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif';
}

@media (prefers-color-scheme: dark) {
/*Define css variables in dark mode.*/
    :root {
    --color-highlight: #008890;
    --color-primary: #1B1A19;
    --color-secondary: #252423;
    --color-tertiary: #3B3A39;
    --color-quaternary: #797775;
    --color-border: #484644;
    --color-acrylic: rgba(26,26,26,.3);
    --color-primary-transparent: rgba(27, 26, 25, 0.7);
    --color-secondary-transparent: rgba(37, 36, 35, 0.8);
    --color-text-primary: #f3f2f1;
    --color-text-secondary: #C8C6C4;
    --font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI Webfont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif';
}
}

/*
*Add this class if the background should be visible but blured.
*/
.blur {
    background-color: var(--color-acrylic);
}

@supports (backdrop-filter: blur(20px) saturate(125%)) or (-webkit-backdrop-filter: blur(20px) saturate(125%)) {
    .blur {
        -webkit-backdrop-filter: blur(20px) saturate(125%);
        backdrop-filter: blur(20px) saturate(125%);
        background-color: var(--color-acrylic);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

/* Turn on custom 8px wide scrollbar */

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
    border-radius: 100px;
}


/* hover effect for both scrollbar area, and scrollbar 'thumb' */

 ::-webkit-scrollbar:hover {
    /*background-color: rgba(0, 0, 0, 0.09);*/
    background-color: var(--color-border);
}


/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */

 ::-webkit-scrollbar-thumb {
    background: var(--color-text-secondary);
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

 ::-webkit-scrollbar-thumb:active {
    /* Some darker color when you click it */
    background: var(--color-text-primary);
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

 ::-webkit-scrollbar-corner {
    display: none;
}
body {
    margin: 0;
    background-color: var(--color-secondary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

h1 {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    font-size: 2.625em;
    line-height: 3.25em;
    margin: 0;
}

h2 {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    font-size: 2em;
    line-height: 2.5em;
    margin: 0;
}

h3 {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    font-size: 1.75em;
    line-height: 2.25em;
    margin: 0;
}

h4 {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    font-size: 1.5em;
    line-height: 2em;
    margin: 0;
}

h5 {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    font-size: 1.25em;
    line-height: 1.75em;
    margin: 0;
}

h6 {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    font-size: 1.125em;
    line-height: 1.5em;
    margin: 0;
}

p {
    color: var(--color-text-primary);
    font-size: 1em;
    line-height: 1.375em;
    font-family: var(--font-family);
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

pre {
    color: var(--color-text-primary);
    display: inline;
    font-family: var(--font-family);
    font-size: 1em;
    line-height: 1.375em;
    white-space: pre-line;
    margin: 0;
}

a {
    color: var(--color-text-primary);
    font-size: 1em;
    line-height: 1.375em;
    font-family: var(--font-family);
}

i {
    color: var(--color-text-primary);
    font-size: 1em;
    line-height: 1.375em;
    font-family: var(--font-family);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


button {
    -webkit-appearance: none;
    -webkit-writing-mode: horizontal-tb !important;
    writing-mode: horizontal-tb;
    color: var(--color-text-primary);
    letter-spacing: normal;
    word-spacing: 0;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: block;
    text-align: center;
    align-items: normal;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0;
    font: normal 1.3em var(--font-family);
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
    border-image: none;
    border-radius: 5px;
    border: none;
    outline: none;
}

button:active {
    border-style: solid;
    outline: none;
    border: inherit;
}

button:focus {
    outline: none;

    border-style: solid;

    border-color: var(--color-text-primary);
    border-width: 1px;
    border:none;
}


/* everywhere else */

* {
    color: var(--color-text-primary);
    font-family: var(--font-family);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Input styles*/
.input-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 32px;
    margin-right: 32px;
  }
  
  .input-container {
    margin-bottom: 16px;
    margin-top: 16px;
    min-width: 20vw;
  }
  
  
  
  .input-box {
    border: none;
    border-width: medium;
    border-style: none;
    overflow: visible;
    -webkit-tap-highlight-color: none;
    will-change: transform, color, opacity;
    border-radius: 4px 4px 0px 0px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    min-height: 56px;
    content: none;
    background-color: transparent;
    margin-bottom: 8px;
    margin-left: 0;
    padding: 0;
    width: 100%;
  }


  
.text-field {
    height: 112px;
  }
  
  
  
  .input-box::after, .input-box::before {
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    content: "";
  }
  
  .input-box::before {
    -webkit-transition: all 15ms linear;
    -o-transition: all 15ms linear;
    transition: all 15ms linear;
    z-index: 1001;
  }
  
  
  textarea {
    display: -ms-flexbox;
    display: flex;
    padding: 12px 16px 14px;
    border: none !important;
    border-width: medium !important;
    border-style: none !important;
    border-color: rgba(255,0,0,1) !important;
    background-color: transparent;
    z-index: 1001;
    font-size: 1em;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-decoration: inherit;
    text-transform: inherit;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 100%;
    height: 80%;
    padding: 20px 16px 6px;
    -webkit-transition: all .15s cubic-bezier(.4,0,.2,1);
    -o-transition: all .15s cubic-bezier(.4,0,.2,1);
    transition: all .15s cubic-bezier(.4,0,.2,1);
    border-bottom: 1px solid;
    border-radius: 4px;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    will-change: transform, opacity, color;
    background-color: transparent;
    color: var(--color-text-primary);
  }
  
    textarea::before {
      -o-transition: opacity 15ms linear, background-color 15ms linear;
      transition: opacity 15ms linear, background-color 15ms linear;;
    }
  
    textarea::before, input::after {
      pointer-events: none;
    }
  
  
    textarea:hover ~ .outline {
      color: var(--color-text-primary);
    }
  
    textarea:focus ~ .outline {
      color: var(--color-text-primary);
    }
  
      textarea:focus ~ .outline > .outline-left {
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-left: 2px solid;
      }
  
      textarea:focus ~ .outline > .outline-right {
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-right: 2px solid;
      }
  
      textarea:focus ~ .outline > .outline-middle {
        border-top: 2px solid;
        border-bottom: 2px solid;
      }
  
    textarea:hover ~ .outline > .outline-middle > .floating-label {
      color: var(--color-text-primary);
    }
  
    textarea.ng-pristine.ng-untouched.ng-invalid:not(:focus) ~ .outline > .outline-middle > .floating-label {
      color: var(--color-text-secondary);
      top: 15px;
      font-size: 1em;
    }
  
    textarea.ng-pristine.ng-untouched.ng-invalid:not(:focus):not(:hover) ~ .outline {
      color: var(--color-text-secondary);
    }
   
  
    textarea.ng-invalid[email].ng-dirty:not(:focus) ~ .outline > .outline-middle > .floating-label, textarea.ng-invalid.email.ng-dirty:not(:focus) ~ .outline > .outline-middle > .floating-label {
      color: #a94442;
      visibility: hidden;
    }
  
    textarea:focus ~ .outline > .outline-middle > .floating-label {
      color: var(--color-text-primary);
      top: -12px;
      font-size: 0.8em;
    }
  
    textarea.ng-valid[required] ~ .outline > .outline-middle > .floating-label, textarea.ng-valid.required ~ .outline > .outline-middle > .floating-label {
      color: #42A948;
      top: -12px;
      font-size: 0.8em;
    }
  
    textarea.ng-valid[required] ~ .outline, textarea.ng-valid.required ~ .outline {
      color: #42A948;
    }
  
  
  input {
    display: -ms-flexbox;
    display: flex;
    padding: 12px 16px 14px;
    border: none !important;
    border-width: medium !important;
    border-style: none !important;
    border-color: rgba(255,0,0,1) !important;
    background-color: transparent;
    z-index: 1001;
    font-size: 1em;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-decoration: inherit;
    text-transform: inherit;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 100%;
    height: 100%;
    padding: 20px 16px 6px;
    -webkit-transition: all .15s cubic-bezier(.4,0,.2,1);
    -o-transition: all .15s cubic-bezier(.4,0,.2,1);
    transition: all .15s cubic-bezier(.4,0,.2,1);
    border-bottom: 1px solid;
    border-radius: 4px;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    outline: none;
    will-change: transform, opacity, color;
    background-color: transparent;
    color: var(--color-text-primary);
  }
  
    input::before {
      -o-transition: opacity 15ms linear, background-color 15ms linear;
      transition: opacity 15ms linear, background-color 15ms linear;;
    }
  
    input::before, input::after {
      pointer-events: none;
    }
  
   
    input:hover ~ .outline {
      color: var(--color-text-primary);
    }
  
    input:focus ~ .outline {
      color: var(--color-text-primary);
    }
  
      input:focus ~ .outline > .outline-left {
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-left: 2px solid;
      }
  
      input:focus ~ .outline > .outline-right {
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-right: 2px solid;
      }
  
      input:focus ~ .outline > .outline-middle {
        border-top: 2px solid;
        border-bottom: 2px solid;
      }
  
    input:hover ~ .outline > .outline-middle > .floating-label {
      color: var(--color-text-primary);
    }
  
    input.ng-pristine.ng-untouched.ng-invalid:not(:focus) ~ .outline > .outline-middle > .floating-label {
      color: var(--color-text-secondary);
      top: 15px;
      font-size: 1em;
    }
  
    input.ng-pristine.ng-untouched.ng-invalid:not(:focus):not(:hover) ~ .outline {
      color: var(--color-text-secondary);
    }
  
    input.ng-invalid[email].ng-dirty:not(:focus) ~ .outline > .outline-middle > .floating-label, input.ng-invalid.email.ng-dirty:not(:focus) ~ .outline > .outline-middle > .floating-label {
      color: #a94442;
      visibility: hidden;
    }
  
    input.ng-invalid[min].ng-dirty:not(:focus) ~ .outline > .outline-middle > .floating-label, input.ng-invalid.min.ng-dirty:not(:focus) ~ .outline > .outline-middle > .floating-label {
      color: #a94442;
      visibility: hidden;
    }
  
    input:focus ~ .outline > .outline-middle > .floating-label {
      color: var(--color-text-primary);
      top: -12px;
      font-size: 0.8em;
    }
  
    input.ng-valid[required] ~ .outline > .outline-middle > .floating-label, input.ng-valid.required ~ .outline > .outline-middle > .floating-label {
      color: #42A948;
      top: -12px;
      font-size: 0.8em;
    }
  
    input.ng-valid[required] ~ .outline, input.ng-valid.required ~ .outline {
      color: #42A948;
    }
  
   
  
  input::-ms-clear {
    display: none;
  }


  .outline {
    border-radius: 4px;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: left;
    pointer-events: none;
    will-change: transform, opacity, color;
    border-color: none;
    color: #a94442;
    background-color: transparent;
  }
  
  
    .outline::before {
      -o-transition: opacity 15ms linear, background-color 15ms linear;
      transition: opacity 15ms linear, background-color 15ms linear;;
    }
  
    .outline::before, input::after {
      pointer-events: none;
    }
  
  .outline-left {
    border-radius: 4px 0 0 4px;
    border-color: green;
    border-left: 1px solid;
    border-right: none;
    width: 12px;
    height: 100%;
    -o-transition: all .15s cubic-bezier(.4,0,.2,1);
    -webkit-transition: all .15s cubic-bezier(.4,0,.2,1);
    transition: all .15s cubic-bezier(.4,0,.2,1);
    border-top: 1px solid;
    border-bottom: 1px solid;
    pointer-events: none;
    display: -ms-flexbox;
    text-align: left;
    display: flex;
    will-change: transform, opacity, color;
    z-index: 2000;
  }
  
  .outline-middle {
    border-color: green;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: calc(-24px + 100%);
    height: 100%;
    -o-transition: all .15s cubic-bezier(.4,0,.2,1);
    -webkit-transition: all .15s cubic-bezier(.4,0,.2,1);
    transition: all .15s cubic-bezier(.4,0,.2,1);
    border-bottom: 1px solid;
    border-top: 1px solid;
    pointer-events: none;
    text-align: left;
    will-change: transform, opacity, color;
    z-index: 2000;
  }
  
  .floating-label {
    color: #a94442;
    display: inline-block;
    position: relative;
    top: 15px;
    bottom: auto;
    max-width: 100%;
    left: 4px;
    right: auto;
    top: 17px;
    pointer-events: none;
    font-size: 1em;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-decoration: inherit;
    text-transform: inherit;
    -webkit-transform-origin: left top 0px;
    -ms-transform-origin: left top;
    transform-origin: left top 0px;
    -webkit-transition: all .15s cubic-bezier(.4,0,.2,1);
    -o-transition: all .15s cubic-bezier(.4,0,.2,1);
    transition: all .15s cubic-bezier(.4,0,.2,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
    will-change: transform;
    background-color: var(--color-secondary);
    z-index: 199;
    padding-right: 5px;
    padding-left: 2px;
  }
  
  
  
  .outline-right {
    border-radius: 0 4px 4px 0;
    flex-grow: 1;
    border-left: none;
    border-right: 1px solid;
    height: 100%;
    -o-transition: all .15s cubic-bezier(.4,0,.2,1);
    -webkit-transition: all .15s cubic-bezier(.4,0,.2,1);
    transition: all .15s cubic-bezier(.4,0,.2,1);
    border-top: 1px solid;
    border-bottom: 1px solid;
    pointer-events: none;
    will-change: opacity, transform, color;
    display: -ms-flexbox;
    display: flex;
    z-index: 2000;
  }
  
  .input-hint {
    padding-right: 16px;
    padding-left: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .hint-text {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.03em;
    display: block;
    line-height: normal;
    margin: 0;
    -o-transition: all .15s cubic-bezier(.4,0,.2,1);
    -webkit-transition: all .15s cubic-bezier(.4,0,.2,1);
    transition: all .15s cubic-bezier(.4,0,.2,1);
  }
  
  .hint-required {
    color: #a94442;
  }
  