.title-background{
    
    left: 0px;
    right: 0px;
    width: 100vw;
    top: 0px;
    padding: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    position: sticky;
    background-color: var(--color-primary);
    z-index: 5;
}

.title{
    margin: 0;
    align-self: center;
    justify-self: center;
    align-self: center;
}

.backLink{
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.back{
    color: var(--color-highlight);
    left: 32px;
    width: 10vw;
    
    position: absolute;
}
