<div class="navigation-bar">
    <div class="navigation-bar-background">
        <a class="back-to-goals" routerLink="/goals">goals</a>
        <h4 class="set-goal-title">Ziel setzen</h4>
    </div>
</div>

<form #goalForm="ngForm" class="content">
    <label for="goal-description">Ich möchte heute:</label> 
    <input type="text" class="goal-description" 
    name = "goal-description"
    required 
    [(ngModel)] = "currentGoal.description">

    <label for="goal-description">Wenn ich mein Ziel nicht erreiche, spende ich:</label>
    <input type="number"
    class="goal-stake"
    name="goal-stake"
    required
    [(ngModel)] = "currentGoal.stake">
    <p>&euro;</p>

    <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button [disabled]="!goalForm.form.valid"
     (click)="submitGoal()"
     type="submit">Ziel hinzufügen</button>
</form>
