.navigation-bar-background{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    background: var(--color-quaternary);
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(27.1828px);
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
}

.set-goal-title{
    justify-self: center;
  color: var(--color-highlight);
}
.back-to-goals{
    justify-self: left;
    padding-right: 35vw;
    padding-left: 5vw;
}

.navigation-bar{
    position: absolute;
    height: 64px;
    left: 0%;
    right: 0%;
    top: 0;
}

.content{
    position: absolute;
    width: 317px;
    height: 22px;
    left: 24px;
    top: 111px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #5F6969;
}
