:host {
    background-color: none;
    font-size: 18px;
    font-weight: 800;
    color: var(--color-text-primary);
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 2px solid var(--color-text-primary);
}

:host:hover{
    cursor: pointer;
    border: 2px solid var(--color-text-primary);
    background-color: var(--color-highlight);
    color: var(--color-text-primary);
}
