<div role="listitem" class="card">
    <img class="card_img" src="{{ donation.carrier.picture.links[0].href }}" alt="{{ donation.carrier.name }}" />
    <h4>{{ donation.title }}</h4>
    <p class="card_content_description">{{ donation.summary }}</p>
    <div class="card_statistic">
        by {{donation.carrier.name}} | {{donation.open_amount_in_cents / 100}} &euro; fehlen noch | {{donation.donor_count}} Menschen haben bereit gespendet
    </div>
    <div class="card_donation_container">
        
        <button type="button" (click)="chooseOrganization()">auswählen</button>

    </div>
    <p class="statistic_value">
        {{ donation.progress_percentage }}%
    </p>
    <div class="bar_long">
        <div class="bar_short" [ngStyle]="{ 'width.%': donation.progress_percentage }"></div>
    </div>
</div>